{% extends 'base.html' %}
{% block header %}
<script defer>
  // Because form promt is readonly we need to renable it before sending it to the server
  function enable_prompt(el){
    console.log(el);
    for (const input of el){
      console.log(input);
      input.readonly = false;
      input.disabled = false;
    }

    // Submit form
    return true;
  }
</script>
{% endblock %}

{% block content %}
{% load static %}
<h2>
  {{ story.title }}
</h2>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{story.title}}</h5>
    <form method="POST" enctype="multipart/form-data" action="" onsubmit="return enable_prompt(this)">
      <!-- Management data of formset -->
      {{ formset.management_form }}

      <!-- csrf token -->
      {% csrf_token %}
      <!-- Loop through the forms -->
      <!-- How to render djanago forms - https://simpleisbetterthancomplex.com/article/2017/08/19/how-to-render-django-form-manually.html#rendering-bootstrap-4-forms -->

      {% for form in formset %}
      <!-- Loop through the hidden fields of each form -->
      {% for hidden_field in form.hidden_fields %}
      {% if hidden_field.errors %}
      <ul>
        {% for error in hidden_field.errors %}
        <li>(Hidden field
          {{ hidden_field.name }})
          {{ error }}
        </li>
        {% endfor %}
      </ul>
      {% endif %}
      {{ hidden_field }}
      {% endfor %}
      <!-- Loop through any non field errors -->
      {% if form.non_field_errors %}
      <ul>
        {% for error in form.non_field_errors %}
        <li>
          {{ error }}
        </li>
        {% endfor %}
      </ul>
      {% endif %}
      <!-- Display prompt field -->
      <div class="row mb-3">
        <div class="col-md-12">
          {{ form.answer.errors }}
          {{ form.prompt }}
          {{ form.answer }}
        </div>
      </div>
      {% endfor %}
      <input type="submit" value="Submit" class="btn btn-primary">
      {% if formset.errors %}
        {{ formset.errors }}
      {% endif %}
    </form>
  </div>
</div>
{% endblock %}